# node
node_modules

# expo
.expo
.expo-shared
dist
web-build

# env
.env
.env.local

# sqlite
YumYum-server/data/*.db
YumYum-server/data/*.db-shm
YumYum-server/data/*.db-wal

# logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db
